<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desconfia! BR</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
  <div id="app">
    <div class="window">
      <div class="titlebar">
        <span>{% block titulo_janela %}DESCONFIA!.EXE{% endblock %}</span>
        <span>{% block extra_titlebar %}[X]{% endblock %}</span>
      </div>
      <div class="content">
        {% block conteudo %}{% endblock %}
      </div>
    </div>
  </div>
  {% block scripts %}{% endblock %}
</body>
</html>