{% extends "base.html" %}
{% block titulo_janela %}LOGIN{% endblock %}
{% block conteudo %}
<div class="logo">
    <div class="logo-titulo">Bem-vindo ao Jogo DESCONFIA!</div>
    <div class="logo-sub">Digite somente o seu nome, não é golpe! Atenção: não coloque dados sensíveis, como nome completo ou datas.</div>
</div>

<form method="POST" class="login-form">
    <input type="text" name="nome" class="input-nome" placeholder="Seu nome aqui" required autofocus>
    <button type="submit" class="btn-acao">Começar</button>
</form>
{% endblock %}
{% block scripts %}
<script>
  localStorage.removeItem('forms_enviado');
</script>
{% endblock %}